{% extends 'base.html' %}

{% block title %}Inicio - AutoIntelli{% endblock %}

{% block content %}
    <div class="primary-box-container">
        <div class="primary-box">
            <!-- COLOCA EL COMPONENTE LOTTIE AQUÍ DE NUEVO -->
            <dotlottie-player class="lottie-icon" src="https://lottie.host/914ef2d8-2730-414f-b1fe-6bc5f536e169/5tUk3vpnjm.lottie" background="transparent" speed="1" loop autoplay></dotlottie-player>
            <h1 class="titulo">AutoIntelli!</h1>
            <p class="description">Esta plataforma reúne herramientas diseñadas para optimizar y automatizar procesos en la empresa, haciendo que áreas como producción,
                recursos humanos, diseño, ventas, compras y contabilidad trabajen de manera más ágil y eficiente.</p>
            <p class="description"> El objetivo es simple: reducir tiempos, minimizar errores y facilitar la gestión de tareas con tecnología inteligente.</p>
        </div>
        <div class="image-box"></div>
    </div>
{% endblock %}